h1,
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "font-custom";
  src: url("../assets/fonts/static/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-custom", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #141414;
}
.main-container {
  background-color: #1f1f1f;
  padding: 40px;
  margin: 40px;
}

.location-profile {
  color: #c4f82a;
  margin-bottom: 24px;
}

.name-profile {
  margin-bottom: 4px;
}

.job-profile {
  margin-bottom: 24px;
  color: #ffffff;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

.img-profile {
  display: flex;
  justify-content: center;
}

.header .img-profile img {
  width: 88px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .main-container {
    padding: 24px;
    margin: 24px;
    width: 100%;
  }
}
